<!DOCTYPE html>
<html>
  <head>
    <title>Jarvis Printer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Jarvis Printer</h1>
      <p>Current ToDo statuses:</p>
      {% for todo_item in todo_items %}
        <div class="row">
          <div class="col-sm">
            {% if todo_item.checked %}
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            {% endif %}
            <label class="form-check-label  font-weight-normal" for="flexCheckDefault">{{todo_item.text}}</label>
          </div>
        </div>
      {% else %}
        <span>No ToDo's! :) Nice! </span>
      {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>