<!DOCTYPE html>
<html>
  <head>
    <title>Jarvis Printer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link data-require="fontawesome@4.1.0" data-semver="4.1.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/toopay/bootstrap-markdown/master/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="static/style.css" />
    <script language="javascript">
      global_image_path = "/{{imagepath_and_markdowns[0]}}";
    </script>
    <style>
      .container {
        max-width: 1000px;
      }
      </style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-8">
        <h1>Bootstrap Markdown DEMO</h1>
        <textarea id="comment-md" name="comment" placeholder="Say something..."></textarea>
        <br />
        <i>drag n drop is supported, but the library throws a wobbly sometimes, dropping the image at the bottom of the editor window seems to work best, most of the time.</i>
        <!-- <div id="comment-md-preview-container">
          <div class="well well-sm well-light md-preview margin-top-10" id="comment-md-preview"></div>
        </div> -->
      </div>
      <div class="col-md-4">
        <h3>Files</h3>
          <div class="markdown_files"></div>
          <div class="markdown_actions"></div>
          <div class="image_files"></div>
          <div class="image_actions"></div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script data-require="marked@*" data-semver="0.3.1" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
    <script src="static/bootstrap-markdown.js"></script>
    <script src="static/filedrop.js"></script>
    <script src="https://rawgit.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js"></script>
    <script src="static/script.js"></script>
    
  </body>
</html>
